<html>
    <body>
        <p>
            <input type = "text" id = "userid" name = "userid" placeholder = "userid">
        </p>
        <p>
            <input type = "password" id = "password" name = "password" placeholder = "password">
        </p>  
        <p>
            <button type = "submit" id = "login-button" onkeypress="submitForm()" onclick="submitForm()">login</button>
        </p>  
            
    </body>
    <script>
        function submitForm(){
            var userid = document.getElementById("userid").value;
            var password = document.getElementById("password").value;

            fetch("/login", {
                method:"POST",
                headers:{
                    "Content-Type": "application/json"
                },
                body : JSON.stringify({
                    "userid" : userid,
                    "password" : password
                })
            }).then((result) => result.json())
            .then(data => alert(data.msg));
        }
        
        
    </script>
</html>